<h1>一覧</h1>

  <div>
    <% @posts.each do |post| %>
      
      <p>ユーザー</p>:
      <%= post.user.name %>
      <p>タイトル</p>:
      <%= post.title %>
      <p>説明</p>:
      <%= post.body %>
      <%= render "favorites/favorite", post: post %>
    <% end %>
  </div>


